body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: darkblue;
    color: white;
}

#logoutDIV{
    display: block;
}

#mobMenuDIV{ display: none; }

nav h1{
    padding-left: 25px;
    color: white;
}

nav .links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.links a{
    display: inline-block;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.container{
    width: 100%;
    height: 90%;
    padding: 0px;
    margin: 0px !important;
    margin-top: 90px !important;
}

h1{
    color: darkblue;
    padding-left: 25px;
}

p{
    color: darkslategray;
}

.divider{
    height: 30px;
}

.hidden{
    display: none !important;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.error{
    color: red;
    font-weight: bold;
}

.success{
    color: green;
    font-weight: bold;
}

.blue{
    color: darkblue;
}

.linklog{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

/*LOGIN*/
.login-section{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    align-content: center;
    
}

.login-box{
    width: 30%;
    min-width: 260px;
    min-height: 450px;
    background-color: lightblue;
    padding: 20px;
    margin: auto;
}
/*FORMS*/

.label{
    font-size: 12px;
    color: darkblue;
}

.btn-box{
    text-align: center;
}

.btn{
    display: inline-block;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px auto !important;
}

input{
    width: 95%;
    margin: 0 auto;
    padding: 5px 10px;
}

select{
    width: 95%;
    margin: 0 auto;
    padding: 5px 10px;
}

/*Mob menu*/
#menuMobList{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/*SPINNER*/

.loading-container {
	animation: rotate 3s linear infinite;
    width: 0px;
    margin: auto;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.circle {
	animation: grow 1.5s linear infinite;
	background-color: aquamarine;
	border-radius: 50%;
	display: inline-block;
	margin: -10px;
	height: 40px;
	width: 40px;
	transform: scale(0);
}

.circle:nth-of-type(2) {
	animation-delay: .75s;
	background-color: lightcyan;
}

@keyframes grow {
	50% {
		transform: scale(1);
	}
}

/*Big Spinner*/

.background-modal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/*Mob menu*/
#menuMobList{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#items-container{
    padding: 20px;
    padding-top: 80px;
    width: 70%;
    background-color: darkblue;
    height: 100%;
}

#items-container a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*Toasts*/

.successToast{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 5;
    background-color: lightgreen;
    color: green;
    font-weight: bold;
    padding:20px 120px;
}

.errorToast{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 5;
    background-color: lightpink;
    color: red;
    font-weight: bold;
    padding:20px 120px;
}


/*TABLE*/

table{
    border: 1px solid lightblue;
    padding: 20px;
}

table tr:nth-child(odd){
    background-color: lightcyan;
}

th{
    background-color: lightblue;
    color: darkblue;
    padding: 25px;
    text-align: center;
    min-width: 80px;
}

td{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightblue;
}

.light{
    background-color: aquamarine;
}

/*USERS*/

.noUsers{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 500px;
}

#usersTable{
    margin: auto !important;
}

.userTitle{
    min-width: 300px;
}

.emtpyCell{
    width: 100px;
}

.delCell{
    width: 20px;
}

.extCell{
    width: 550px;
}

.extendBTN{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px !important;
    background-color: lightgreen;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.deleteBTN{
    cursor: pointer;
}

@media screen and (max-width: 800px){

    nav{
        max-width: 100vw;
        position: fixed !important;
        top: 0px;
        left: 0px;
        overflow: initial;
        background-color: darkblue;
        color: white;
        display: grid;
        grid-template-columns: 5fr 1fr;
    }
    nav .links{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        color: white;
    }

    #logoutDIV{
        display: none;
    }

    #mobMenuDIV{ display: block; }
}